actualizar_fechas.sql
cositas_varias.ipynb
datos_colombia_actualizados.csv
departamentos.csv
potsgres query and save as csv.ipynb
Salida_Datos_Abiertos_nuevos_datos.csv
.vscode/settings.json
.ipynb_checkpoints/*
